<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/unit/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./helpers</directory>
            <file >Slide.php</file>
            <file >Swiper.php</file>
            <exclude>
                <directory suffix=".php">./tests</directory>
                <directory suffix=".php">./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/unit/swiper</directory>
            <directory>./tests/unit/swiper/assets</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="./coverage"/>
    </logging>
</phpunit>